.dot {
    border-radius: 50%;
    display: inline-block;
    margin: 15pt;
    background-color:#8cfa76 ;
    text-align: center;
}
.box{
    display: inline-block;
    margin:0 15pt;
    background-color: #10e1ff;
    text-align: center;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    transition: background-color 2s;
}
.horizontalContainer{
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: center;
}
#boxContainer{
    height: 30vh;
    align-items: center;
}
#dotContainer{
    height: 20vh;
}

#finalContainer{
    margin-top: 50px;
    height: 100px;
}
#speedController{
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}