body{
    overflow-y: hidden;
}
#configuratorContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100pt;
    width: 50vw;
    height: 70vh;
}
#configuratorForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    color: white;
    margin-top: 50pt;
    margin-bottom: 20pt;
}
#submitToAlgo{
    text-align: center;
    height: 8vh;
    font-size: 15pt;
    padding: 0;
    width: 13vw;
    margin-top: 5vh;
    transform-origin: center;
    transition: width, height, 0.2s;
}
#submitToAlgo:hover{
    height: 10vh;
    width: 15vw;
    filter: drop-shadow(7px 5px 12px rgba(0, 0, 0, 0.7));
    cursor: pointer;
}
form label{
    font-size: 2vw;
}
form input{
    width: 20vw;
    height: 6vh;
    border-radius: 10px;
    border-style: none;
    margin: 20px;
    font-size:40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 4vw;
}
#back{
    cursor: pointer;
}
/*Tablet-Style*/
@media only screen and (max-width: 768px){
    h1{
        font-size: 10vw;
        text-align: center;
    }
    form label{
        font-size: 8vw;
        text-align: center;
    }
    form input{
        width: 80vw;
    }
    #submitToAlgo{
        width: 30vw;
    }
    #submitToAlgo:hover{
        width: 35vw;
    }
    button{
        margin: 0;
    }
}
/*Handy-Style*/
@media only screen and (max-width: 375px){
    h1{
        font-size: 15vw;
        text-align: center;
    }
    #submitToAlgo{
        width: 50vw;
    }
    #submitToAlgo:hover{
        width: 55vw;
    }
}