.infoBlock {
    width: 60vw;
}
#stepContainer {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.step {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.dot {
    border-radius: 50%;
    display: inline-block;
    margin: 15pt;
    background-color: #8cfa76;
    text-align: center;
    filter: drop-shadow(7px 5px 12px rgba(0, 0, 0, 0.51));
}
.bucket{
    display: inline-block;
    margin: 15pt;
    background-color: #10e1ff;
    text-align: center;
    width: 15vw;
    height: 26vh;
    border-radius: 10px;
    transition: background-color 2s;
    filter: drop-shadow(7px 5px 12px rgba(0, 0, 0, 0.51));
}
#mainHeading {
    font-size: 8em;
    margin: 10px;
}
.fullPage {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
#introDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#step0 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
p {
    font-size: 4em;
    margin: 0;
    text-align: center;
}
.descriptionDiv {
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.descriptionHeading {
    font-size: 2.5em;
    text-align: left;
}
.descriptionText {
    font-size: 0.9vw;
    text-align: left;
}
.animationDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    height: 60vh;
    background-color: #343434;
    filter: drop-shadow(7px 5px 12px rgba(0, 0, 0, 0.51));
}
.spacer {
    width: 70px;
}
.dots1{
    opacity: 0;
}
.bucket1{
    opacity: 0;
}
#backSVG{
    width: 60px;
    height: 60px;
    right: 50px;
    top: 20px;
    position: absolute;
    margin: 0;
    cursor: pointer;
    transform-origin: center;
    transition: all 0.3s ease-in-out;
}
#backSVG:hover{
    transform: rotate(360deg) scale(1.09);
}
#scrollDown{
    opacity: 0;
    width: 150px;
    height: 150px;
    bottom: 10px;
    left: 52%;
    position: absolute;
    margin: 0;
    transform: scale(4);
}
#bucketContainer2{
    z-index: -1;
}
#cardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
.card{
    display: flex;
    align-items: center;
    padding-top: 40px;
    flex-direction: column;
    width: 20vw;
    height: 60vh;
    background-color: #252525;
    border-radius: 20px;
    filter: drop-shadow(7px 5px 12px rgba(0, 0, 0, 0.51));
    transform-origin: center;
    transition: all 0.3s ease;
}
.card:hover{
    filter: drop-shadow(7px 5px 12px rgba(0, 0, 0, 0.71));
    transform: scale(1.01);
}
.card p{
    font-size: 2.5em;
}
.text{
    padding: 20px 50px;
}
.text p{
    font-size: 1em;
    text-align: left;
}
h2{
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    font-size: 5em;
}
.image{
    width: 130px;
    height: 130px;
    margin: 20px;
    background-color: #989898;
    border-radius: 200px;
    filter: drop-shadow(7px 5px 12px rgba(0, 0, 0, 0.4));
}
#rakete{
    transform: scale(0.6);
}
#parallel{
    top: -20px;
    position: relative;
    transform: scale(0.5);
}
.flamme{
    opacity: 0;
}
#ganze_rakete{
    transform: translate(-3px,3px);
}
#startButton{
    position: relative;
    margin: 5vh;
    left: 38%;
}
@media only screen and (max-width: 768px){
    #mainHeading {
        font-size: 5em;
        text-align: center;
    }
    p {
        font-size: 2em;
        margin: 0;
        text-align: center;
    }
    #step0 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #backSVG{
        width: 30px;
        height: 30px;
        right: 20px;
        top: 20px;
        position: absolute;
        margin: 0;
        cursor: pointer;
        transform-origin: center;
        transition: all 0.3s ease-in-out;
    }
    .step {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #step2, #step4{
        flex-direction: column-reverse;
    }
    .animationDiv{
        width: 80%;
    }
    .bucket{
        display: inline-block;
        margin: 15pt;
        background-color: #10e1ff;
        text-align: center;
        width: 30vw;
        height: 26vh;
        border-radius: 10px;
        filter: drop-shadow(7px 5px 12px rgba(0, 0, 0, 0.51));
    }
}
@media only screen and (max-width: 375px){
    #mainHeading {
        font-size: 3em;
        text-align: center;
    }
    p {
        font-size: 1.5em;
        margin: 0;
        text-align: center;
    }
}