body{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1A1A1A, #313131);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1A1A1A, #313131); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}
h1{
    color: white;
    font-family: 'Roboto', sans-serif;
}
h2{
    color: white;
    font-family: 'Roboto', sans-serif;
}
button{
    background: #76B3FA;
    border-radius: 100px;
    padding: 20px 60px;
    color: #fff;
    text-decoration: none;
    font-size: 1.45em;
    margin: 15px 15px;
    border-style: none;
    cursor: pointer;
    /*filter: drop-shadow(0 0 0.75rem #181818); */
}
p{  
    color: white;
    font-family: 'Roboto', sans-serif;
}
#header{
    justify-content: space-around;
    height: 90px;
}
#stepShower{
    height: 50px;
    width: 200px;
    background-color: gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 10px;
}
#headingText{
    margin-left: 200px;
}
.horizontalContainer{
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: center;
}
